/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.11.2015, 18:47:20
    Author     : imaliy
*/

.package .items {
    margin: 15px 0;
}

.package .items .nav-pills {
    border-bottom: none;
}

.package .items .nav-pills > li > a {
    border: none !important;
}

.package .items .nav-pills > li.active > a {
    background-color: #ff851b !important;
}